# System
.DS_Store
*.pyc
__pycache__

# Python Environments
venv/
.venv/
.env

# Editor Settings
.vscode/
.idea/

# Data (CRITICAL: Do not commit raw PHI data)
data/raw/
data/*.zip

# Ignore specific CSV files in the data root
data/ADMISSIONS.csv
data/D_ITEMS.csv
data/PATIENTS.csv

# Ignore all other CSVs in data to be safe
data/*.csv

# Processed data
data/processed/
